body {
    background-color: #1c1c1c;
    color: white;
    font-family: Arial, sans-serif;
    flex-direction: column;
    align-items: center;
}

.section {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 80%;
    max-width: 1200px;
    align-items: center;
    justify-content: center;
    min-height: 100px;
}

.container1,
.container2,
.container3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
    max-width: 1200px;

    display: flex;

}

.container1 {
    height: 450px;
    margin-left: 50%;
}

.container2 {
    height: 450px;
    margin-left: 50%;
}

.container3 {
    height: 450px;
    margin-left: 50%;
}

.container img {
    width: 45%;
    height: 45%;
    border-radius: 10px;
    object-fit: cover;
}

.content {
    max-width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.subtitle {
    font-size: 24px;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td {
    border: 2px solid gray;
    padding: 15px 30px;
    font-size: 18px;
    font-family: "urw-form-expanded", sans-serif;
    font-weight: 700;
    font-style: italic;
}

img {
    width: 50%;
    height: auto;
}

.download-button svg {
    fill: #fff;
}

.title{
    margin-top: 100px;
}

/* Mobile Styles */
@media (max-width: 768px) {
     .section {
        width: 80%;
        margin: 0 auto;
    }

    .container1,
    .container2,
    .container3 {
        flex-direction: column;
        height: auto;
        align-items: center;
        margin-left: 0%;
    }

    .container1 img,
    .container2 img,
    .container3 img {
        width: 100%;
        height: auto;
        order: -1;

    }

    .content {
        max-width: 100%;
        width: 100%;
        text-align: center;
    }

    h1 {
        margin-top: 50px;
        font-size: 24px;
        text-align: center;
        font-family: "urw-form-expanded", sans-serif;
        font-weight: 700;
        font-style: normal;
    }

    .subtitle {
        font-size: 20px;
        text-align: center;
    }

    td {
        padding: 10px 15px;
        font-size: 16px;
    }

    .download-button {
        margin: 20px auto;
        text-align: center;
    }
}

@media screen and (min-width: 768px) {
    .title{
        margin-top: 170px;
    }
}