.outerwrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #141414;
    background-image: url("../imagess/gray_background.png") no-repeat center
        center fixed;
    background-size: cover;
}

.rij p {
    color: white;

    font-family: "urw-form-expanded", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.footer p{
	color: black;
}

.innerwrapper {
    flex: 1;
    padding: 20px;
}

.content {
    max-width: 65%;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 100px;
}

.rij {
    margin-bottom: 50px;
}

.rij h2 {
    font-size: 24px;
    text-align: start;
}

.rij p {
    font-size: 1em;
    margin: 5px 0;
    flex: 1;
    display: flex;
}
.workshop-card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 0px;
    overflow: hidden;
    max-width: 100%;
    font-family: "urw-form-expanded", sans-serif;
    backdrop-filter: blur(10px);
    text-align: left;
    margin-top: 20px;
    margin-bottom: 30px;
}
.card-content {
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
    padding: 10px;
    border-radius: 5px;
    backdrop-filter: none;
    text-align: left;
}
.card-content h2,
p {
    color: #fff;
    text-align: start;
}
.scroll-container h2,
p {
    text-decoration: none;
}

.arrow-icon {
    width: 25px !important;
    height: auto;
    margin-left: 195px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 10;
}
.card-image {
    width: 100%-10px;
    background-size: cover;
    background-position: center;
}
.content img {
    max-width: 100%;
    height: auto;
}

.content h2{
	margin-bottom: 20px;
	margin-top: 20px;
}
@media (min-width: 768px) {
    .rij p {
        max-width: 60%;
    }
}

@media (min-width: 1020px) {
    .stuurgroep {
        display: flex;
        gap: 20px;

        flex-direction: row;
        flex-wrap: wrap;
    }

    .workshop-card {
        flex: 1;
    }

    .card-content h2,
    p {
        max-width: 80%;
    }
}
