.button {
	background-color: black;
	display: inline-block;
	padding: 10px 20px;
	border-radius: 70px;
	text-decoration: none;
	color: white;
	font-family: "ethnocentric", sans-serif;
	font-weight: lighter;
}

.button:hover {
	background-color: rgb(33, 33, 33);
}
