
.color1,
.color2,
.color3,
.color4 {
	padding: 50px;
	display: inline-block;
}

.color1 {
	background-color: rgb(29, 168, 20);
}

.color2 {
	background-color: rgb(255, 0, 0);
}

.color3 {
	background-color: rgb(157, 0, 255);
}

.color4 {
	background-color: rgb(20, 20, 20);
}
