/* WRAPPER */

.wrapper{
    width: 70%;
    margin: 0 auto;
}

/* STYLING FOR FIRST SECTION OF THE PAGE */

.intro {
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.intro_text{
    position: absolute;
    top: 45vw;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.side_buttons{
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    top: 50vw;
}

.side_buttons a{
    text-decoration: none;
    transform: rotate(-90deg);
}

.recordlab {
    margin-right: -55px;
    color: red;
    font-family: "ethnocentric", sans-serif;
}

.recordlab_left{
    margin-left: -55px;
    color: red;
    font-family: "ethnocentric", sans-serif;
}

.medialab {
    margin-left: -45px;
    color: green;
    font-family: "ethnocentric", sans-serif;
}

.medialab_right{
    margin-right: -45px;
    color: green;
    font-family: "ethnocentric", sans-serif;
}

.fablab {
    margin-left: -28px;
    color: rgb(43, 0, 88);
    font-family: "ethnocentric", sans-serif;
}

.fablab_right{
    margin-right: -28px;
    color: rgb(43, 0, 88);
    font-family: "ethnocentric", sans-serif;
}

.objects{
    display: flex;
}

.objects img {
    width: 70%;
    top: 10%;
    max-width: 100%;
    position: relative;
}

.center_object img {
    left: 50%;
    transform: translateX(-50%);
    max-width: 100%;
    position: absolute;
}

.left_object img {
    left: 50%;
    transform: translateX(-140%);
    max-width: 100%;
    position: absolute;
}

.right_object img {
    left: 50%;
    transform: translateX(30%);
    max-width: 100%;
    position: absolute;
}

.homepage_buttons{
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
}

.scroll_for_more{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    position: absolute;
    bottom: 3%;
    left: 50%;
    transform: translateX(-50%);
}

.scroll_for_more p{
    color: #B4B4B4;
}

/* STYLING FOR ELEMENTS ON PAGE */

.your_ideas_to_life_container{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 20px;
    margin-top: 50px;
}

.your_ideas_to_life_text h2{
    text-align: center;
    margin-bottom: 20px;
}

.your_ideas_to_life_img img{
    width: 100%;
}

.workshop,
.machinepark{
    margin-top: 100px;
}

.workshops_title h2,
.machinepark_title h2{
    text-align: center;
    margin-bottom: 20px;
}

.workshops_container,
.machinepark_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

.workshop_frame,
.machinepark_frame{
    height: 400px;
    background-color: #000;
    position: relative;
    width: 100%;
    max-width: 375px;
}

.workshop_frame p,
.machinepark_frame p{
    position: absolute;
    bottom: 5%;
    left: 5%;
}

.workshop_frame a p,
.machinepark_frame a p{
    text-decoration: none;
    color: white;
}

.workshop_arrow_icon,
.machinepark_arrow_icon{
    position: absolute;
    bottom: 5%;
    right: 5%;
}

.workshop_innerframe,
.machinepark_innerframe{
    position: absolute;
    height: 300px;
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
    top: 30px;
    border: 3px solid white;
}

.workshop_innerframe div img,
.machinepark_innerframe div img{
    position: absolute;
}

.workshop_background_img img,
.machinepark_background_img img{
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
}

.workshop_front_img img,
.machinepark_front_img img{
    width: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.prices_container_medialab{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.prices_title_medialab h2{
    margin-top: 100px;
}

.prices_title_medialab p{
    margin-top: 20px;
}

.read_more{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.lending_service_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 100px;

}

.location_contact_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 100px;
}

.contact_title h2{
    text-align: center;
    margin-top: 80px;
    margin-bottom: 20px;
}

.contact_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.open_hours_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 100px;
    padding-bottom: 100px;
}

.open_hours_labs{
    margin-bottom: 20px;
}

.open_hours_labs img{
    width: 100%;
}

.open_hours_lending_service img{
    width: 100%;
}

@media screen and (min-width: 768px) {
    .side_buttons{
        top: 270px;
    }
    
    .intro_text{
        top: 220px;
    }

    .homepage_buttons{
        flex-direction: row;
    }

    .objects img {
        width: auto;
        max-width: 600px;
        max-height: 600px;
    }

    .center_object img, 
    .left_object img, 
    .right_object img {
        top: auto;
    }

    .center_object img {
        left: 50%;
        transform: translateX(-50%);
        position: absolute;
    }

    .left_object img {
        left: 0%;
        transform: translateX(-50%);
        position: absolute;
    }

    .right_object img {
        left: 100%;
        transform: translateX(-50%);
        position: absolute;
    }
    .your_ideas_to_life_container{
        flex-direction: row;
        align-items: flex-start;
    }

    .workshops_title h2,
    .machinepark_title h2{
        text-align: left;
    }

    .workshops_container,
    .machinepark_container{
        flex-direction: row;
    }

    .prices_container_medialab{
        align-items: flex-start;
    }

    .lending_service_container{
        align-items: flex-start;
    }

    .lending_service_text p{
        width: 50%;
    }

    .location_contact_container{
        flex-direction: row;
        align-items: flex-start;
    }

    .contact_title h2{
        text-align: left;
        margin-top: 0;
    }

    .contact_title p{
        width: 50%;
    }

    .contact_button{
        margin-top: 20px;
    }

    .contact_container{
        align-items: flex-start;
        gap: 0;
    }

    .lab_openings_hours_container{
        display: flex;
        gap: 20px;
    }

    .open_hours_container{
        align-items: flex-start;
    }

    .your_ideas_to_life_text h2{
        text-align: left;
    }
}